<ion-view view-title="Exercices" hide-nav-bar="true">
    <ion-content class="padding text-center back-color">

        <a href="#/tab/courses">{{layout.back}}</a>

        <h1>{{layout.exercice}} {{numeroexo}}</h1>

        <h4>{{exo.intitule}}</h4>

        <div class="marginbtn" ng-switch on="exo.type">
            <div ng-switch-when="choix multiples">
                <ion-list ng-repeat="choix in exo.choix">
                    <ion-checkbox ng-model="reponse[choix]">{{choix}}</ion-checkbox>
                </ion-list>
            </div>
            <div ng-switch-when="phrase">
                <ion-list>
                    <ion-item>{{exo.parts[0]}}</ion-item>
                    <ion-item>
                        <input type="text" placeholder="your answer here" ng-model="reponse.texte">
                    </ion-item>
                    <ion-item>{{exo.parts[1]}}</ion-item>
                </ion-list>
            </div>
            <div ng-switch-when="choix simple">
                <ion-list ng-repeat="choix in exo.choix">
                    <ion-radio ng-model="reponse.choix" ng-value="choix">{{choix}}</ion-radio>
                </ion-list>
            </div>
        </div>
        <button class="marginbtn button button-positive" ng-click="submit()">{{layout.submit}}</button>
    </ion-content>
</ion-view>
