<ion-view view-title="Login">
    <ion-content>

        <img src="" alt="logo multilingua"/>

        <h1>Merci de vous connecter avec votre compte Multilingua</h1>

        <ion-list>
            <ion-item>
                <span class="input-label">Votre email</span>
                <input type="text">
            </ion-item>

            <ion-item>
                <span class="input-label">Votre mot de passe</span>
                <input type="password">
            </ion-item>
        </ion-list>

        <div class="padding text-center">
            <button class="button button-positive">Se connecter</button>
        </div>

        <a href="#">Pas encore de compte ?</a>
    </ion-content>
</ion-view>