<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content class="text-center back-color">

        <img id="logo_login" src="img/multilingua_logo.png" alt="logo multilingua"/>

        <h1>Merci de vous connecter <br> avec votre compte Multilingua</h1>

        <ion-list>
            <ion-item class="back-color logitem">
                <input class="back-color" type="email" ng-model="loginData.email" placeholder="Votre email">
            </ion-item>

            <ion-item class="back-color logitem">
                <input class="back-color" type="password" ng-model="loginData.password" placeholder="Votre mot de passe">
            </ion-item>
        </ion-list>

        <div class="padding text-center">
            <button class="button button-positive" ng-click="signIn()">Se connecter</button>
        </div>

        <h2>
            <a href="#">Pas encore de compte ?</a>
        </h2>
        <a href="#">Accès oubliés ?</a><br>
    </ion-content>
</ion-view>