<ion-view view-title="Login">
    <ion-content class="text-center back-color">

        <img id="logo_login" src="/img/multilingua_logo.png" alt="logo multilingua"/>

        <h1>Merci de vous connecter <br> avec votre compte Multilingua</h1>

        <ion-list>
            <ion-item class="back-color">
                <span class="input-label">Votre email</span>
                <input class="back-color" type="text" ng-model="loginData.email">
            </ion-item>

            <ion-item class="back-color">
                <span class="input-label">Votre mot de passe</span>
                <input class="back-color" type="password" ng-model="loginData.password">
            </ion-item>
        </ion-list>

        <div class="padding text-center">
            <button class="button button-positive" ng-click="signIn()">Se connecter</button>
        </div>

        <h2>
            <a href="#">Pas encore de compte ?</a>
        </h2>
        <a href="#">Oublié vos accès ?</a><br>
    </ion-content>
</ion-view>