<ion-view view-title="Planning" hide-nav-bar="true">
  <ion-content class="padding text-center back-color">

    <h1>{{ layout.titrePage }}</h1>

    <div ng-repeat="formation in planning.formations" class="cards formation">

      <div class="item item-divider">
        <strong>{{formation.titre}}</strong>
      </div>

      <ul class="item item-text-wrap">

        <li class="row row-center">
          <i class="col icon ion-clock"></i>
          <div class="col col-90">
            {{formation.date.annee}}/{{formation.date.mois}}/{{formation.date.jour}}
            <br>
            {{formation.date.heure}}:{{formation.date.minutes}} {{formation.date.am_pm}}
          </div>
        </li>

        <li class="row row-center">
          <i class="col icon ion-home"></i>
          <div class="col col-90">
            {{formation.lieux.rue}}
            <br>
            {{formation.lieux.code_postal}} {{formation.lieux.ville}}
          </div>
        </li>
      </ul>
    </div>

    <div class="marginbtn" class = "padding">
      <a class="button button-positive margin">{{layout.inscription}}</a>
    </div>
  </ion-content>
</ion-view>
