<ion-view view-title="Parameters" hide-nav-bar="true">
    <ion-content class="padding text-center back-color">

        <h1>{{layout.titrePage}}</h1>

        <ion-list class="text-left padding">

            <ion-item>
                {{layout.language}}
                <ion-list>
                    <ion-radio ng-model="languageparam" ng-value="'English'">English</ion-radio>
                    <ion-radio ng-model="languageparam" >Español</ion-radio>
                    <ion-radio ng-model="languageparam" >Deutch</ion-radio>
                    <ion-radio ng-model="languageparam" >Português</ion-radio>
                </ion-list>
            </ion-item>

            <ion-item class="item item-toggle">
                {{layout.notifications}}
                <label class="toggle">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-item>

            <ion-item>
                {{layout.login}} {{user.id}} <!-- TODO il faudra indiquer ici l'utilisateur--><br>
                <button class="button button-positive" ng-click="goLogOut()">{{ layout.logoutButton }}</button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
