<ion-view view-title="Chat">
    <ion-content class="padding text-center back-color">

        <h1>{{ layout.titrePage }}</h1>

        <div class="card" id="tchat-card">
            <div ng-repeat="message in conversation.messages">
                <p ng-if="message.user == user.id" class="msg-student">{{message.content}}</p>
                <p ng-if="message.user !== user.id" class="msg-teacher">{{message.content}}</p>
            </div>
        </div>

        <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
            </label>
            <button class="button button-positive" ng-click="sendMessage()">
                Send
            </button>
        </ion-footer-bar>
    </ion-content>
</ion-view>
