<ion-view view-title="Contacts" hide-nav-bar="true">
  <ion-content class="padding text-center back-color">

    <h1>{{ layout.titrePageStandart }}</h1>

    <ion-list>

      <ion-item>
        <input type="text" placeholder={{layout.titreMessage}} ng-model="msg.titre">
      </ion-item>

      <ion-item>
        <textarea placeholder={{layout.contenuMessage}} ng-model="msg.contenu"></textarea>
      </ion-item>
    </ion-list>

    <div class="padding text-center marginbtn">
      <button class="button button-positive" ng-click="showConfirm(msg)">{{ layout.envoyerButton }}</button>
    </div>
  </ion-content>
</ion-view>
