<ion-view view-title="Chat">
    <ion-content class="padding text-center back-color">

        <h1>{{ layout.titrePage }}</h1>

        <div class="card" id="tchat-card">
            <div ng-repeat="message in conversation.messages">
                <div ng-if="message.user == user.id" class="msg-student msg">{{message.content}}</div>
                <div ng-if="message.user !== user.id" class="msg-teacher msg">{{message.content}}</div>
                <div class="row"></div>
            </div>
        </div>

        <div keyboard-attach class="bar-stable item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Type your message" ng-model="data.message"/>
            </label>
            <button class="button button-positive" ng-click="send(data.message)">
                Send
            </button>
        </div>
    </ion-content>
</ion-view>
