<ion-view view-title="Courses">
  <ion-content class="padding text-center back-color">

    <h1>{{ courses.titre }}</h1>

    <img src="{{ courses.imgURL }}">

    <audio>
      <source src="{{ courses.audioURL }}">
    </audio>

    <div ng-repeat="lesson in courses.lessons">
     <p class="text-left text-lesson">{{ lesson.texte }}</p>
     <h4 class="text-left">Examples :</h4>
     <ion-list>
       <ion-item ng-repeat="exemple in lesson.exemples" class="back-color">
         {{ exemple.citation }}
       </ion-item>
     </ion-list>
    </div>

    <div class="padding text-center">
      <button class="button button-positive">PRACTICE</button>
    </div>
  </ion-content>
</ion-view>
