/* Empty. Add your own CSS if you like */

body{
    font-family: "Open Sans";
}

h1{
    color: #f26513;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
}

ion-content, .back-color{
    background-color: #E0E4F2;
}

.tabs-striped.tabs-background-positive .tabs {
    background-color: #266190;

}
.tabs-background-positive .tabs,
.tabs-background-positive > .tabs {
    background-color: #266190;
    background-image: linear-gradient(0deg, #266190, #266190 50%, transparent 50%);
    background-color: #266190;
}

ion-tabs.tabs-color-active-positive .tab-item {
    color: #54CAF5;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #54CAF5;
}

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
    border: none;
    color: #54CAF5;
}

h1{
    font-size: 28px;
}

h2{
    font-size: 20px;
}

p{
    text-align: justify;
}

a{
    color: #266190;
}

textarea{
    min-height: 100px;
}

input, textarea{
    min-width: 100%;
    max-width: 100%;
}

.button.button-positive{
    background-color: #54CAF5;
    color: white;
}

.logitem{
    max-height: 80px;
}

#logo_login{
    max-width: 100%;
    height: 100px;
    margin-top: 20px;
}

#liste_login{
    background-color: #E0E4F2;
}

.text-lesson, .formation{
    margin-top: 20px;
}

.img-lesson{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#poucehaut{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
}

#tchat-card{
    height: 300px;
    overflow: scroll;
}


.msg{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

.msg-teacher{
    text-align: left;
    background: #007AFF;
    color: white;
    float: left;
}

.msg-student{
    text-align: right;
    float: right;
    background-color: #C7C7CC;
}

.marginbtn{
    margin-top: 10px;
}


